
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 12px;
}

body.hide-scroll::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

h1{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: normal;
    margin: 0 0 -55px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 9.4px;
    margin: 0 0 15px;
}

p {
    color: #515151;
    line-height: 27px;
}

/*End Global*/

/*Start Mutual*/
p,
input {
    font-family: Cabin, sans-serif;
}

header .text,
.about-us .text,
.reservation .text,
.menu .box-model,
.menu .text,
.fixed-image .text {
    text-align: center;
}

.about-us,
.reservation,
.about-us .image-container,
.reservation .image-container,
.menu,
.menu .menu-image-container {
    display: flex;
}

.menu .box-model .close {
    transition: .3s;
}

header,
header .text,
header .text .arrow .left,
header .text .arrow .right,
.recipes,
.menu .box-image-container,
.fixed-image .text {
    position: relative;
}


.recipes .text,
.menu .box-model .close,
.menu .box-image-container .box-image {
    position: absolute;
}

.recipes .text,
.fixed-image .text,
.menu .box-image-container,
.menu .box-image-container .box-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu .box-model,
.menu .box-image-container,
.menu .box-image-container .box-image {
    width: 100%;
}

.menu .box-model .close,
.menu .menu-image-container .image img {
    cursor: pointer;
}

header .text .arrow .left,
header .text .arrow .right {
    background-color: black;
}

h1,
h3,
header .text span,
.menu .box-model .close:hover {
    color: #fff;
}

header .text .arrow .left:after,
.menu .box-model {
    left: 0;
}

header .text .arrow .left:after,
header .text .arrow .right:after,
header .text span {
    display: inline-block;
}

/*End Mutual*/


/*Start Home Page*/

/*Start Header*/
header {
    height: calc(100vh - 22px);
    background-size: cover;
    background: url("https://cdn.discordapp.com/attachments/802601627777237004/998494956853416016/Khu_trung_tam_thanh_pho_Ho_Chi_Minh_nhin_tu_phia_quan_2.jpg") no-repeat center fixed;
    padding: 20px 70px;

}

/**/


/* */




header .text {
    top: 24%;
}

header .text h1 {
    margin-bottom: 0;
}

header .text .arrow .left,
header .text .arrow .right {
    height: 3px;
    width: 100px;
}

header .text .arrow .left {
    left: -4%;
}

header .text .arrow .right {
    right: -4%;
}

/* header .text .arrow .left:after,
header .text .arrow .right:after {
    content: '';
    border: 10px solid transparent;
    border-left-color: black;
    top: -8px;
} */

/* header .text .arrow .right:after {
    right: 0;
    border-color: transparent black transparent transparent;
} */



header .text span {
    font-family: "Source Code Pro", sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
}

/*End Header*/

/*Start About-Us*/
.about-us,
.reservation {
    padding: 60px;
}

.about-us .text,
.reservation .text {
    flex: 50%;
    padding: 40px 52px 0 0;
}

.about-us .text h3,
.reservation .text h3 {
    color: #000;
}

.about-us .image-container,
.reservation .image-container {
    flex: 50%;
}

.about-us .image,
.reservation .image {
    margin-left: 20px;
}

/*End About-Us*/

/*Start Recipes*/
.recipes .image {
    height: 350px;
    background: url("https://cdn.discordapp.com/attachments/802601627777237004/998494956853416016/Khu_trung_tam_thanh_pho_Ho_Chi_Minh_nhin_tu_phia_quan_2.jpg") fixed center;
    background-size: cover;
}

/*End Recipes*/

/*Start Menu*/
.menu {
    padding: 60px;
}

.menu .box-model {
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, .7);
}

.menu .box-model.active {
    display: block;
}

.menu .box-model.active body {
    overflow: hidden;
}

.menu .box-model .close {
    color: #ccc;
    right: 25px;
    top: 10px;
    z-index: 20;
}

.menu .box-image-container {
    height: 100%;
}

.menu .box-image-container .box-image img.active {
    animation: scale .5s;
}

@keyframes scale {
    from {
        transform: scale(0, 0)
    }

    to {
        transform: scale(1, 1)
    }
}

.menu .menu-image-container {
    flex-wrap: wrap;
    flex: 60%;
}

.menu .menu-image-container .image {
    margin: 0 20px 20px 0;
    flex: calc(50% - 40px);
}

.menu .text {
    flex: 55%;
    padding: 40px 0 0 62px;
}

.menu .text h3 {
    color: #000;
    ;
}

/*End Menu*/

/*Start fixed-image*/
.fixed-image {
    background: url("https://cdn.discordapp.com/attachments/802601627777237004/998494956853416016/Khu_trung_tam_thanh_pho_Ho_Chi_Minh_nhin_tu_phia_quan_2.jpg") fixed center;
    background-size: cover;
    height: 400px;
}

/*End fixed-image*/



/*End Home Page*/



/*Start Home Page Responsive*/

@media (max-width: 1200px) {

    .menu,
    .about-us,
    .reservation {
        padding: 60px 40px;
    }

    .about-us .text,
    .reservation .text {
        padding: 0 32px 0 0;
    }

    .about-us .image-container,
    .reservation .image-container {
        align-items: center;
    }

    .menu .text {
        padding: 0 0 0 32px;
    }
}

@media (max-width: 992px) {
    body {
        padding: 0;
    }

    header {
        height: calc(100vh - 10px);
    }

    .about-us {
        display: block;
        padding-top: 50px;
    }

    .about-us .text,
    .reservation .text {
        padding: 0 0 40px;
    }

    .about-us .image-container .image1,
    .reservation .image-container .image1 {
        margin-left: 0;
    }

    .menu {
        display: block;
        padding: 60px 20px 60px 40px;
    }

    .menu .text {
        padding: 20px 20px 0 0;
    }

    .reservation {
        display: block;
        padding: 30px 20px 60px;
    }

}

@media (max-width: 576px) {

    h3,
    h1 {
        font-size: 40px;
    }

    header {
        padding: 0;
    }

    .about-us,
    .reservation {
        padding: 60px 20px;
    }

    .menu {
        padding: 60px 0 60px 20px;
    }
}

/*End Home Page Responsive*/
